body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
}

header {
    text-align: center;
    background-color: #F8F8F8;
    padding: 2em 0;
}

footer {
    background-color: #143774;
    color: #F8F8F8;
    text-align: center;
    font-size: 0.7em;
    padding: 1em;
}

img {
    max-width: 100%;
    display: block;
}

.article-image {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.widget-image {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.container {
    margin: 0 auto;
    width: 70%;
    max-width: 1000px; 
}

.container-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #143774;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

.widget-title, .article-title {
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* h1 subtitle */
.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: 0.75rem;
    margin: 0;

}

article, .sidebar-widget, .widget-recent-post {
    margin-bottom: 3em;
}

.article-title, .widget-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: 0.875rem;
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #707070;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: space-between;
}

nav li {
    margin: 0.5em 0;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}

nav a:hover, nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: solid 1px #707070;
}

.current-page:hover {
    color: #707070;
}

main, aside {
    width: 100%;
    text-align: center;
}

.widget-recent-post-title {
    margin-bottom: 0.75em;;
}

@media (min-width: 600px) {
    .container-flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
        padding-top: 1em;
    }

    header .container-flex {
        flex-direction: column;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        margin: 0 0.5em;
    }

    main {
        width: 71%;
        text-align: left;
    }

    aside {
        width: 27%;
        text-align: left;
    }

    .article-recent {
        display: flex;
    }

    .article-recent .article-image {
        height: 250px;
    }

    .article-recent-main {
        width: 65%;
        order: 2;
        padding: 0 1em;
    }

    .article-recent-secondary {
        width: 35%;
        order: 1;
    }
}

@media (min-width: 960px) {
    header .container-flex {
        flex-direction: row;
    }

    nav li {
        margin: 0 0 0 1em;
    }
}
/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F8F8F8; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #707070; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #143774; 
  }