.container {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 10% 80% 10%;
    justify-content: center;
    height: 90vh;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-nav li {
    margin: 0 10px;
}

/* Main styling */
main {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    
}
.left-aside {
    display: flex;
}

.main-nav {
    background-color: coral;
    width: 100%;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    padding: 10px 10px;
}

.main-section {
    padding: 20px;
    text-align: justify;
}

/* Footer styling */
footer {
    background-color: beige;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}