body {
    font-size: 18px;
    font-weight: bold;
}

.child {
    height: 80px;
    border: solid 2px red;
}
#parent {
    width: 400px;
}

#child-one {
    height: 80px;
    background-color: rgb(0, 250, 150);
    position: sticky;
    top: 150px;
    left: 120px;
}

#child-two {
    height: 80px;
    background-color: rgb(250, 0, 150);
}

#child-three {
    height: 80px;
    width: 750px;
    background-color: rgb(200, 100, 0);
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #4d21f3;
    text-align: center;
    color: white;
    padding-top: 20%;
}