
.container {
    width: 50%;
    margin: 0 auto;
}

section {
    margin-top: 0.5em;
}

#top .column-wrapper {
    display: grid;
    grid-template-columns: 100%;
}

.col {
    padding: 1em;
}

#top .image-wrapper {
    background: url(images/elephant-banner.png);
    height: 180px;
    background-repeat: no-repeat;
    background-position: center 20%;
}

#top .title {
    text-align: center;
    border: solid 1px red;
}

#mid .column-wrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#bottom .column-wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
}

/* background colors */
.bg-color-pink {
    background-color: pink;
}

.bg-color-indred {
    background-color: indianred;
}

.bg-color-maroon {
    background-color: maroon;
}

.text-white {
    color: rgba(255,255,255,0.70);
}