body {
    font-size: 18px;
}

article {
    width: 50%;
    margin: auto;
    border: #333 solid 1px;
    font-size: 20px;
}

.article-title {
    font-size: 2rem;
}

.article-subtitle {
    font-size: 1.4rem;
}

.article-content {
    font-size: 1rem;
}