body {
    font-size: 24px;
}

article {
    width: 50%;
    margin: auto;
    border: #333 solid 1px;
    font-size: 12px;
}

.article-title {
    font-size: 2em;
}

.article-subtitle {
    font-size: 1.4em;
}

.article-content {
    font-size: 1em;
}